node-red/data/flows.json
[{"id":"e43b0149.0108b","type":"tab","label":"Flow 1"},{"id":"625bb3f4.92aeec","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"metrics","name":"metrics","usetls":false,"tls":""},{"id":"f412b1cf.344ff","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2587ca54.ba1ab6","type":"influxdb in","z":"e43b0149.0108b","influxdb":"625bb3f4.92aeec","name":"metrics","query":"","x":478,"y":323,"wires":[["4fb605c5.cdd21c","af9d5e51.46fdc"]]},{"id":"9da78db8.97447","type":"function","z":"e43b0149.0108b","name":"show series","func":"msg.query=\"show series;\";\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":323,"wires":[["2587ca54.ba1ab6"]]},{"id":"4fb605c5.cdd21c","type":"debug","z":"e43b0149.0108b","name":"","active":false,"console":"false","complete":"false","x":684.5,"y":271,"wires":[]},{"id":"285c39f.46524c6","type":"http in","z":"e43b0149.0108b","name":"","url":"/series","method":"get","swaggerDoc":"","x":116.5,"y":323,"wires":[["9da78db8.97447"]]},{"id":"af9d5e51.46fdc","type":"http response","z":"e43b0149.0108b","name":"","x":668,"y":322,"wires":[]},{"id":"672f2344.b92a8c","type":"http in","z":"e43b0149.0108b","name":"","url":"/influx/createdb","method":"get","swaggerDoc":"","x":135.5,"y":149,"wires":[["bc12472f.839148"]]},{"id":"bc12472f.839148","type":"function","z":"e43b0149.0108b","name":"dbname","func":"let dbname = msg.req.query.name;\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = \"q=CREATE DATABASE \" + dbname;\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":149,"wires":[["c2a87fe4.a157c"]]},{"id":"796522e2.6c7eec","type":"debug","z":"e43b0149.0108b","name":"","active":false,"console":"false","complete":"payload","x":685,"y":153,"wires":[]},{"id":"54c7f486.cbdedc","type":"mqtt in","z":"e43b0149.0108b","name":"mosquitto","topic":"metrics/#","qos":"2","broker":"f412b1cf.344ff","x":528.5,"y":485,"wires":[["2f508eda.4a0402"]]},{"id":"2f508eda.4a0402","type":"debug","z":"e43b0149.0108b","name":"","active":true,"console":"false","complete":"true","x":666.5,"y":485,"wires":[]},{"id":"8a4ece84.11a65","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":72,"wires":[["ba79a165.4736f"]]},{"id":"ba79a165.4736f","type":"function","z":"e43b0149.0108b","name":"createdb pasteur","func":"let dbname = \"metrics\";\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.payload = \"q=CREATE DATABASE \" + dbname;\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":70,"wires":[["c2a87fe4.a157c"]]},{"id":"9db13a91.e707d8","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127,"y":272,"wires":[["9da78db8.97447"]]},{"id":"c281db42.bfea88","type":"http response","z":"e43b0149.0108b","name":"","x":667.5,"y":90,"wires":[]},{"id":"c2a87fe4.a157c","type":"http request","z":"e43b0149.0108b","name":"","method":"POST","ret":"txt","url":"influxdb:8086/query","tls":"","x":495.5,"y":108,"wires":[["c281db42.bfea88","796522e2.6c7eec"]]},{"id":"b000bed1.e3073","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"metrics/ensis","qos":"2","retain":"","broker":"f412b1cf.344ff","x":301.5,"y":536,"wires":[]},{"id":"4ed55216.85604c","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143,"y":536,"wires":[["b000bed1.e3073"]]},{"id":"d7f7648a.4888b8","type":"comment","z":"e43b0149.0108b","name":"param: name=dbname","info":"","x":145.5,"y":113,"wires":[]},{"id":"8400d8d2.8ab198","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"metrics/eg-ar","qos":"2","retain":"","broker":"f412b1cf.344ff","x":311,"y":487,"wires":[]},{"id":"42e8f561.38cf5c","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.5,"y":487,"wires":[["8400d8d2.8ab198"]]},{"id":"c03223fa.b7c14","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"metrics/lcg","qos":"2","retain":"","broker":"f412b1cf.344ff","x":300.5,"y":439,"wires":[]},{"id":"df812936.e66038","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142,"y":439,"wires":[["c03223fa.b7c14"]]}]