node-red/data/flows.json
[{"id":"e43b0149.0108b","type":"tab","label":"Flow 1"},{"id":"625bb3f4.92aeec","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"metrics","name":"metrics","usetls":false,"tls":""},{"id":"f412b1cf.344ff","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2587ca54.ba1ab6","type":"influxdb in","z":"e43b0149.0108b","influxdb":"625bb3f4.92aeec","name":"metrics","query":"","x":517,"y":566,"wires":[["4fb605c5.cdd21c","af9d5e51.46fdc"]]},{"id":"9da78db8.97447","type":"function","z":"e43b0149.0108b","name":"show series","func":"msg.query=\"show series;\";\nreturn msg;","outputs":1,"noerr":0,"x":361.5,"y":566,"wires":[["2587ca54.ba1ab6"]]},{"id":"4fb605c5.cdd21c","type":"debug","z":"e43b0149.0108b","name":"","active":false,"console":"false","complete":"payload","x":723.5,"y":514,"wires":[]},{"id":"285c39f.46524c6","type":"http in","z":"e43b0149.0108b","name":"","url":"/series","method":"get","swaggerDoc":"","x":155.5,"y":566,"wires":[["9da78db8.97447"]]},{"id":"af9d5e51.46fdc","type":"http response","z":"e43b0149.0108b","name":"","x":707,"y":565,"wires":[]},{"id":"54c7f486.cbdedc","type":"mqtt in","z":"e43b0149.0108b","name":"metrics","topic":"metrics/#","qos":"2","broker":"f412b1cf.344ff","x":558.5,"y":315,"wires":[["2f508eda.4a0402"]]},{"id":"2f508eda.4a0402","type":"debug","z":"e43b0149.0108b","name":"","active":true,"console":"false","complete":"true","x":706.5,"y":315,"wires":[]},{"id":"9db13a91.e707d8","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166,"y":515,"wires":[["9da78db8.97447"]]},{"id":"b000bed1.e3073","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"metrics/ensis","qos":"2","retain":"","broker":"f412b1cf.344ff","x":305.5,"y":368,"wires":[]},{"id":"4ed55216.85604c","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147,"y":368,"wires":[["b000bed1.e3073"]]},{"id":"8400d8d2.8ab198","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"metrics/eg-ar","qos":"2","retain":"","broker":"f412b1cf.344ff","x":315,"y":319,"wires":[]},{"id":"42e8f561.38cf5c","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146.5,"y":319,"wires":[["8400d8d2.8ab198"]]},{"id":"c03223fa.b7c14","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"metrics/lcg","qos":"2","retain":"","broker":"f412b1cf.344ff","x":304.5,"y":271,"wires":[]},{"id":"df812936.e66038","type":"inject","z":"e43b0149.0108b","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":271,"wires":[["c03223fa.b7c14"]]},{"id":"961bb7b3.d3d998","type":"mqtt in","z":"e43b0149.0108b","name":"machines","topic":"machines/#","qos":"0","broker":"f412b1cf.344ff","x":558,"y":111,"wires":[["88fa2ad1.066c18"]]},{"id":"88fa2ad1.066c18","type":"debug","z":"e43b0149.0108b","name":"","active":true,"console":"false","complete":"true","x":696,"y":111,"wires":[]},{"id":"1ee6e613.d7196a","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"machines/lcg","qos":"2","retain":"","broker":"f412b1cf.344ff","x":295,"y":63,"wires":[]},{"id":"376725b7.6e57ba","type":"inject","z":"e43b0149.0108b","name":"LGC","topic":"","payload":"name=LCG, machineId=1, location=AmadaShowRoom","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.5,"y":63,"wires":[["1ee6e613.d7196a"]]},{"id":"6eb7d6f5.053848","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"machines/lcg","qos":"2","retain":"","broker":"f412b1cf.344ff","x":298,"y":111,"wires":[]},{"id":"4e6a8bb8.f9fe84","type":"mqtt out","z":"e43b0149.0108b","name":"","topic":"machines/lcg","qos":"2","retain":"","broker":"f412b1cf.344ff","x":298,"y":162,"wires":[]},{"id":"20dc24e5.78611c","type":"inject","z":"e43b0149.0108b","name":"EG-AR","topic":"","payload":"name=EG-AR, machineId=2, location=AmadaShowRoom","payloadType":"str","repeat":"","crontab":"","once":false,"x":143,"y":111,"wires":[["6eb7d6f5.053848"]]},{"id":"3ca8f18.cc6760e","type":"inject","z":"e43b0149.0108b","name":"ENSIS","topic":"","payload":"name=ENSIS, machineId=1, location=AmadaShowRoom","payloadType":"str","repeat":"","crontab":"","once":false,"x":142,"y":163,"wires":[["4e6a8bb8.f9fe84"]]},{"id":"ea0dc5e7.81c878","type":"inject","z":"e43b0149.0108b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":731,"wires":[["dc94a08f.ff596"]]},{"id":"dc94a08f.ff596","type":"function","z":"e43b0149.0108b","name":"","func":"msg = {\"machine\":\"amada1\", \"status\":\"ciao\", \"value\":3}\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":730,"wires":[["9bf621cd.251d"]]},{"id":"9bf621cd.251d","type":"debug","z":"e43b0149.0108b","name":"","active":false,"console":"false","complete":"true","x":494,"y":729,"wires":[]}]